.Loading-main {
  text-align: center;
  /* This property must have this value because the search bar has a z-index of 5 */
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.Loading-opacity {
  background-color: #999;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.Loading-spinner {
  margin: 25% auto;
}
